/* Empty. Add your own CSS if you like */
.bar.bar-assertive {
    background-color: #FE5400
}
.button.button-assertive {
	background-color: #FE5400;
}
.button.button-assertive.active, .button.button-assertive.activated {
    border-color: #FE5400;
    background-color: #FE5400; 
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #FE5400;
}
/*登录页面样式*/
.t_login_user {
	text-align: center;
	padding: 50px 0 20px 0;
	height: 170px;
}
.t_login_user img {
	height: 100px;
}
.t_login_count .forget{
	padding:0 10px 10px;
}
.t_login_count .forget .foget-psd{
	float: left;
}
.t_login_count .forget .agree{
	display: inline-flex;
	float: right;
}
.t_login_count .forget .agree i{
	font-size:22px;
	margin-right:5px;
    position: relative;
    top: -2px;
}
.t_login_count .forget .agree i.ion-android-checkbox:before{
	/*color:#ff6600;*/
	color: #FE5400;
}
/*注册页面样式*/
.h_register{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	align-content:center;
	align-items: center;
	height:50px;
	width:100%;
	margin:20px 0 0;
	padding:0 15px;
	background:#fff;
}
.h_register span{
	align-self: center;
	font-size:15px;
	color:#666;
}
.h_register span.fontColor{
	/*color:#ff6600;*/
	color: #FE5400;
}
.h_register b{
	align-self: center;
	color:#ccc;
}
.t_backMima_message {
	border-top: 1px solid #f6f6f6;
}
.t_backMima_message .c {
	height: 51px;
	position: relative;
	font-size: 16px;
	margin:10px 0;
}
.t_backMima_message .c input {
	color: #555;
	font-size: 16px;
	height: 50px;
	width:100%;
	padding-left: 20px;
}
.t_backMima_message .c img {
	position: absolute;
	right: 0;
	top: 0;
	width: 120px;
	height: 50px;
}
.zl_btn_center{
	width: 90%!important;
	margin: 0 auto;
	margin-top: 25px!important;
}
.t_backMima_message .forget{
	text-align: center;
	margin-top: 20px;
	
}
.t_backMima_message .forget .agree{
	display: inline-flex;
	/*float: right;*/
}
.t_backMima_message .forget .agree i{
	font-size:22px;
	margin-right:5px;
    position: relative;
    top: -2px;
}
.t_backMima_message .forget .agree i.ion-android-checkbox:before{
	/*color:#ff6600;*/
	color: #FE5400;
}
.h_intext{
	margin-top:20px;
	width:100%;
	height:50px;
	position:relative;
}
.h_intext input{
	width:70%;
	height:100%;
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	padding-left:20px;
	position:absolute;
	top:0;
	left:0;
}
.h_intext label{
	width:30%;
	height:100%;
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:15px;
	background:#FE5400;
	position:absolute;
	right:0;
	top:0;
}
/*首页样式*/
.home-goods {
	background: #fff;
    margin-bottom: 10px;
	margin: 10px 0;
}
.home-goods .goods-title {
	text-align: center;
    font-weight: 400;
	line-height: 1em;
	margin: 0;
}
.home-goods .goods-title i {
	font-size:20px;
	color: #ef4e3a;
}
.home-goods .goods-title span {
	font-size: 14px;
    color: #333;
    font-weight: 400;
    display: inline-block;
}
.home-goods .goods-list {
	height: 110px;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
}
.home-goods .goods-list a {
	width: 32%;
	height: 100px;;
	border: 1px solid #e2e2e2;
    border-radius: 10px;
    overflow: hidden;
}
.home-goods .goods-list a img {
	width: 100%;
	height: 100%;
}
.home-buy {
	background: #fff;
	padding: 5px;

}
.home-buy button {
	min-height: 35px;
	height: 35px;
	line-height: 30px;
	margin: 0 !important;
}
.buy-list ul li{
	width: 25%;
	float: left;
}
.buy-list ul li .buy-img {
	box-sizing: border-box;
    padding: 0 17.85%;
    position: relative;
}
.buy-list ul li .buy-img img {
	    /*position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;*/
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
	border-radius: 50%;
	width: 60px;
}
.buy-list ul li p {
	text-align: center;
	margin-top: 10px;
}
.goods-info {
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: white;
    padding-top: 10px;
    position: relative;
}
.goods-info article {
	display: -webkit-box;
    margin: 10px;
    color: #4d525d;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.goods-info .price {
	margin: 10px;
	font-size: 20px;
	color: #ef4e3a;
}
.goods-info .price .rank {
	float:right;
	color:#000;
	font-weight:normal;
	width: 40%;
	font-size: 16px;
	text-align: center;
}
.goods-info .price .rank span {
	display: inline-block;
    background: #e8814e;
    border-radius: 5px;
    width: 35%;
    text-align: center;
    margin-left: 10px;
    color: #fff;
}
.goods-intro {
	background: #fff;
	border-top: 5px solid red;
}
.goods-intro h2 {
	text-align: center;
	font-size: 16px;
	padding: 10px 0;
}
.shopping {
	width: 100%;
    border-top: 1px solid rgba(229,229,229,0.93);
    background-color: rgb(255,255,255);
	height: 50px;
}
.shopping .btn_con {
	width: 35%;
    height: 100%;
    float: right;
}
.shopping .btn_con .buy_now {
	width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(253,132,89,0.93) , rgba(247,86,82,0.93));
    background: -o-linear-gradient(right, rgba(253,132,89,0.93) , rgba(247,86,82,0.93));
    background: -moz-linear-gradient(right, rgba(253,132,89,0.93) , rgba(247,86,82,0.93));
    background: linear-gradient(to right, rgba(253,132,89,0.93) , rgba(247,86,82,0.93));
	border: none;
}
.buy_footer {
	padding: 0 !important;
	height: 50px !important;
}
.quantity {
	width: 65%;
	float: left;
	padding: 5px 15px;
}
.quantity h4 {
	width: 35%;
	float: left;
}
.quantity .number_con{
	width: 60%;
	/*float: left;*/
	display: flex;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.quantity .number_con .minus, .quantity .number_con .plus {
	flex: 1;
	/*display: table-cell;*/
    vertical-align: middle;
    /*width:30%;*/
	height: 35px;
    text-align: center;
    background-color: #f8f8f8;
    color: #000;
    line-height: 40px;
    overflow: hidden;
	/*text-indent: -999em;*/
}
.quantity .number_con input {
    flex:1;
	width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    position: relative;
	text-align: center;
}
/*直捐*/
.yd-donate-count li p, .yd-donate-text p{
	margin:0;
}
.yd-donate-count li label{
	color: #000;
}
.yd-donate-count li{
	margin:0 0 10px 0;
	border-bottom:1px solid #eaeaea;
}
.yd-donate-count .money i{
	position: absolute;
	right:16px;
	top:5px;
}
/*实名认证*/
.real-count li{
	margin-top:10px;
	background: #FFF;
	padding:5px 10px;
	line-height: 35px;
	position: relative;
}
.real-count li label{
	position: absolute;
	color: #7d7d7d;
	margin-right:5px;
	line-height: 35px;
}
.real-count li input{
	padding-left: 75px;
	width: 100%;
	display: block;
	line-height:33px;
}
.yd-add-img{
	padding:5px 10px 10px;
}
.yd-add-img em{
	display: inline-block;
	width: 150px;
	height: 200px;
	border: 1px solid #999;
	text-align: center;
	line-height: 150px;
	color: #999;
	font-size:22px;
	margin:0 8px 0 10px;
}
.yd-add-img img{
	display: inline-block;
	width: 150px;
	height: 200px;
	border: 1px solid #999;
	text-align: center;
	line-height: 150px;
	color: #999;
	font-size:22px;
	margin:0 8px 0 10px;
}
.yd-add-img i{
	position: absolute;
	display: inline-block;
	width: 150px;
	height: 200px;
	background-size: 100% 100%
}
.yd-add-img i.on::before{
	content: '点击查看大图';
	position: absolute;
	top: 45%;
	left: 30%;
}
.yd-donate-count .pay-bz textarea{
	padding:10px;
	border:1px dashed #eaeaea;
	border-radius: 5px;
}
.yd-user-vouchcer{
	padding-top:30px;
	text-align: center;
}
.yd-user-vouchcer img{
	max-width:80vw;
}